// Paleta de Colores Futurista

// $color-azul-cobalto: #10243f;
// $color-blanco-plateado: #d6d8ec;
// $color-cian-electrico: #0cc9c9;
// $color-cian-sombra: #4efafae7;
// $color-gris-grafito: #1b2929;
// $color-verde-lima-neon: #32CD32;
// $color-naranja-ambar: #ff9100;

// Paleta de Colores minimalista

$color-azul-cobalto: #ffffff;
$color-blanco-plateado: #400964;
$color-cian-electrico: #585757;
$color-cian-sombra: #ffffffe7;
$color-gris-grafito: #9518e9;
$color-verde-lima-neon: #32CD32;
$color-naranja-ambar: #ff5100;

// fonts
$font-size-gral: 1rem;
$font-family-gral: 'Helvetica'



